{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
  {% if page == 'login' %}
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Login</h3>
          </div>
        </div>
        <div class="layout__body">
          <h2 class="auth__tagline">Find your study partner</h2>

          <form class="form" method="POST" action="">
            {% csrf_token %}
            <div class="form__group">
              <label for="username">Username</label>
              <input type="text" name="username" placeholder="Enter Username" required>
            </div>
            <div class="form__group">
              <label for="password">Password</label>
              <input type="password" name="password" placeholder="Enter Password" required>
            </div>

            <button class="btn btn--main" type="submit">Login</button>

          </form>

          <div class="auth__action">
            <p>Haven't signed up yet?</p>
            <a href="{% url 'register' %}" class="btn btn--link">Sign Up</a>
          </div>

          <div class="auth__action">
            <a href="{% url 'gitlab_login' %}" class="btn btn--gitlab">Login with GitLab</a>
          </div>

          <div class="auth__action">
            <a href="{% url 'facebook_login' %}" class="btn btn--facebook">Login with Facebook</a>
          </div>

          <div class="auth__action">
            <a href="{% url 'password_reset' %}" class="btn btn--link">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Sign Up</h3>
          </div>
        </div>
        <div class="layout__body">
          <h2 class="auth__tagline">Find your study partner</h2>

          <form class="form" method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
              <div class="form__group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                  <div class="form__error">
                    {% for error in field.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <button class="btn btn--main" type="submit">Register</button>
          </form>

          <div class="auth__action">
            <p>Already signed up?</p>
            <a href="{% url 'login' %}" class="btn btn--link">Login</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</main>
{% endblock %}
